# Dependencies
apps/web/node_modules/
apps/plataforma/ui/node_modules/
apps/plataforma/ui/dist/

# Local Netlify folder
.netlify

# Environment
.env

# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
